<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfc.dao.MainDao">
	
	
    <select id="searchRecord"  resultType="Game">
		SELECT t1.team_name AS team1_name, t2.team_name AS team2_name, g.team1_score, g.team2_score , DATE_FORMAT(g.game_date, '%y.%m.%d') AS game_date , t1.team_logo as team1_logo , t2.team_logo as team2_logo
		FROM Game g
		JOIN Gather gd1 ON g.game_team1 = gd1.gather_id
		JOIN Gather gd2 ON g.game_team2 = gd2.gather_id
		
		JOIN Team t1 ON gd1.team_id = t1.team_id
		JOIN Team t2 ON gd2.team_id = t2.team_id
		WHERE g.game_status=2
		ORDER BY gd1.gather_date desc
		LIMIT 2;
    </select>
    
     <select id="gameToday"  resultType="Game">
		SELECT t1.team_name AS team1_name, IFNULL(t2.team_name, 'null') AS team2_name,  DATE_FORMAT(g.game_date, '%H:%i') AS game_date, t1.team_logo AS team1_logo, IFNULL(t2.team_logo, 'null') AS team2_logo 
		FROM game g
		JOIN Gather gd1 ON g.game_team1 = gd1.gather_id
		LEFT JOIN Gather gd2 ON g.game_team2 = gd2.gather_id
		JOIN Team t1 ON gd1.team_id = t1.team_id
		LEFT JOIN Team t2 ON gd2.team_id = t2.team_id
		WHERE game_status = 0 OR game_status = 1
		AND DATE(game_date) = CURDATE();
    </select>
      <select id="gameTommo"  resultType="Game">
		SELECT t1.team_name AS team1_name, IFNULL(t2.team_name, 'null') AS team2_name,  DATE_FORMAT(g.game_date, '%H:%i') AS game_date, t1.team_logo AS team1_logo, IFNULL(t2.team_logo, 'null') AS team2_logo 
		FROM game g
		JOIN Gather gd1 ON g.game_team1 = gd1.gather_id
		LEFT JOIN Gather gd2 ON g.game_team2 = gd2.gather_id
		JOIN Team t1 ON gd1.team_id = t1.team_id
		LEFT JOIN Team t2 ON gd2.team_id = t2.team_id
		WHERE (game_status = 0 OR game_status = 1)
		AND DATE(game_date) = DATE_ADD(CURDATE(), INTERVAL 1 DAY);
    </select>
     <select id="gameSand"  resultType="Game">
		SELECT t1.team_name AS team1_name, IFNULL(t2.team_name, 'null') AS team2_name,  DATE_FORMAT(g.game_date, '%H:%i') AS game_date, t1.team_logo AS team1_logo, IFNULL(t2.team_logo, 'null') AS team2_logo 
		FROM game g
		JOIN Gather gd1 ON g.game_team1 = gd1.gather_id
		LEFT JOIN Gather gd2 ON g.game_team2 = gd2.gather_id
		JOIN Team t1 ON gd1.team_id = t1.team_id
		LEFT JOIN Team t2 ON gd2.team_id = t2.team_id
		WHERE (game_status = 0 OR game_status = 1)
		AND DATE(game_date) = DATE_ADD(CURDATE(), INTERVAL 2 DAY);
    </select>
    
      
</mapper>