<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfc.dao.TeamDao">
	<update id="UserUpdate" parameterType="HashMap">
		UPDATE user
		SET team_id = #{team_id},
		user_team_join_date = #{team_birth},
		user_team_authority = "운영자"
		WHERE id = #{id};
	</update>
    
    <insert id="createTeam" parameterType="Team">
		INSERT INTO `team` ( `team_name`, `team_logo`, `team_content`, `team_announcement`) 
		VALUES ( #{team_name}, #{team_logo}, #{team_content}, #{team_announcement});
	</insert>
	
    <select id="selectTeamInfo" parameterType="Team" resultType="Team">
		select * from team
		ORDER BY team_id DESC LIMIT 1;
    </select>
    
       <select id="searchList" parameterType="String" resultType="Team">
		SELECT * FROM TEAM
		WHERE TEAM_STATUS = 1
		<if test="word != 'none'">
		AND team_name LIKE concat('%', #{word}, '%')
		</if>
		ORDER BY team_birth desc;
  	  </select>
  	  
  	   <!-- 10위 까지 전체 팀 랭킹 -->
  	  <select id="teamRanking" resultType="Team">
  		SELECT ranking, team_name, score,team_win, team_draw, team_lose
		FROM (SELECT RANK() OVER (ORDER BY score DESC) AS ranking, score, team_name, team_win, team_draw, team_lose
 		FROM (SELECT (team_win * 3 + team_draw + team_lose * (-3)) AS score, team_name, team_win, team_draw, team_lose
    	FROM team
  		) subquery 
		) t; 
  	  </select>
  	  
  	    <!-- 우리팀 랭킹, 전적 -->
  	    <select id="MyteamRank" parameterType="int" resultType="Team" >
  		SELECT ranking, team_name, score,team_win, team_draw, team_lose,team_id
		FROM (
			SELECT RANK() OVER (ORDER BY score DESC) AS ranking, score, team_name, team_win, team_draw, team_lose,team_id
			FROM (
            SELECT (team_win * 3 + team_draw + team_lose * (-3)) AS score, team_name, team_win, team_draw, team_lose , team_id
			FROM team
			) subquery 
			) t
            where team_id =  #{team_id}
  	  </select>
</mapper>