<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfc.dao.TeamDetailDao">
	<select id="teamDetail" parameterType="int" resultType="Team">
		SELECT ranking, score, team_id, team_name, user_name, team_win, team_lose,
		team_draw, team_announcement, total_cnt
		FROM (SELECT rank() OVER (ORDER BY score DESC) AS ranking, score, team_id,
		team_name, user_name, team_win, team_lose, team_draw,team_announcement, total_cnt
		FROM (SELECT (team_win * 3 + team_draw + team_lose * (-3)) AS score, t.team_id,
		t.team_name, u.user_name, t.team_win, t.team_lose, t.team_draw,
		t.team_announcement, (SELECT COUNT(*) FROM user WHERE team_id =t.team_id) AS total_cnt
		FROM team t
		INNER JOIN user u ON t.team_id = u.team_id
		) subquery
		) t
		WHERE team_id = #{team_id}
	</select>
</mapper>